@import './variables.scss';
@import './blocks/header.scss';
@import './blocks/application.scss';
@import './blocks/element-form.scss';
@import './blocks/_button.scss';



body {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
